In [1]:
import pandas as pd
from modules import textPreProcess as tpp

In [2]:
data = pd.DataFrame.from_dict(
    {"record": [1, 2, 3], "text": ["hi Bill! a the", "hi 90324 PINK", "NEVER * a to"]}
)

In [3]:
data["mapped_text"] = data["text"].map(tpp.map_func)

In [4]:
data

   record            text    mapped_text
0       1  hi Bill! a the  hi bill a the
1       2   hi 90324 PINK       hi  pink
2       3    NEVER * a to    never  a to

In [5]:
vectorizer = tpp.get_tokenizer(data, "text")

In [6]:
print(vectorizer)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [11]:
vectorizer.get_feature_names()

['hi', 'pink']

In [12]:
stop_words = vectorizer.get_stop_words()

In [17]:
"never" in stop_words

True

In [18]:
pd.Series(["hi bill a the", "hi pink", "never a to"])

0    hi bill a the
1          hi pink
2       never a to
dtype: object