In [59]:
# from pandas.io.json import json_normalize
import json
import pandas as pd


with open("new_subset_merge_Arriana 0418.json", "r") as read_file:
    data = json.load(read_file)

print(type(data))
svd_df = pd.DataFrame(data['data'])
svd_df[svd_df.Rec_content_rank!='NaN'].head(3)

<class 'dict'>

,index,Target_business_id,Target_city,business_id,name,address,city,latitude,longitude,stars,Map,photo,Rec_final_score,Rec_user_score,Rec_user_rank,Rec_content_rank,Rec_final_rank
0,0,zXgSqLVumgxM_e5OgWfUTw,reno,lUsd7zGsoQ0Goe7UvIQI8w,"Button Bash - Press Start, Pizzava + Verdi Local",1413 S Virginia St,Reno,39.510116,-119.805718,5.0,https://www.google.com/maps/search/?api=1&quer...,https://s3-media0.fl.yelpcdn.com/bphoto/cO0SAR...,?,3.922864,1.0,NaN,1.0
1,1,zXgSqLVumgxM_e5OgWfUTw,reno,317lIGWVcxcVWdVo6ZKHwg,"Galaxy Theatres Legends IMAX, Sparks",1170 Scheels Dr,Sparks,39.531701,-119.722949,4.0,https://www.google.com/maps/search/?api=1&quer...,https://s3-media0.fl.yelpcdn.com/bphoto/3f7yY_...,?,3.922864,2.0,NaN,2.0
2,2,-OKB11ypR4C8wWlonBFIGw,reno,317lIGWVcxcVWdVo6ZKHwg,"Galaxy Theatres Legends IMAX, Sparks",1170 Scheels Dr,Sparks,39.531701,-119.722949,4.0,https://www.google.com/maps/search/?api=1&quer...,https://s3-media0.fl.yelpcdn.com/bphoto/3f7yY_...,?,3.922864,1.0,NaN,1.0

In [49]:
svd_df.loc[svd_df['Rec_final_score'] == '?', 'Rec_final_score'] = svd_df['Rec_user_score']

In [50]:
# svd_df[svd_df.Rec_final_score=='?'].head()
# svd_df.shape
svd_df.tail()
# svd_df['city'].isna().sum()
# svd_df[svd_df.city==None].head()
# svd_df['city'].value_counts()[0:100]

,index,Target_business_id,Target_city,business_id,name,address,city,latitude,longitude,stars,Map,photo,Rec_final_score,Rec_user_score,Rec_user_rank,Rec_content_rank,Rec_final_rank
6652,6652,M7C_U0ORBw9sMcRa3sEQsQ,None,3UL5v-a3rkhTN2eFqvoo6Q,None,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,5.2,5.2
6653,6653,C7ZNfxgDQWinNzRfTkevxg,None,3UL5v-a3rkhTN2eFqvoo6Q,None,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,5.8,5.8
6654,6654,3USp176ILrGkfeXTRrcsAw,None,3USp176ILrGkfeXTRrcsAw,None,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,1.0,1.0
6655,6655,8YTbOl9x7WSJwZuKgCSF0g,None,3USp176ILrGkfeXTRrcsAw,None,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,1.6,1.6
6656,6656,uE_39C9Mi51XfZv68M253g,None,3USp176ILrGkfeXTRrcsAw,None,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,3.2,3.2

In [61]:
# svd_df.Rec_final_score.apply(lambda x: if  x =="?" then     )
svd_df[svd_df['Rec_content_rank'].notna() & svd_df['city'].notna()].shapeS

(0, 17)

In [51]:
svd_df[svd_df.Rec_final_score=='?'].head()

Empty DataFrame
Columns: [index, Target_business_id, Target_city, business_id, name, address, city, latitude, longitude, stars, Map, photo, Rec_final_score, Rec_user_score, Rec_user_rank, Rec_content_rank, Rec_final_rank]
Index: []

In [60]:
svd_df.to_json('test_data.json', orient='records')
svd_df.to_csv('test_data.csv', index=False)

References

In [ ]:
Target_business_id = []
Target_city = []
business_id = []
name = []
address = []
city = []
latitude = []
longitude = []
stars = []
Map = []
photo = []
Rec_final_score = []
Rec_final_rank = []
Rec_user_score = []
Rec_user_rank =  []
Rec_content_score = [] 
Rec_content_rank = []
Rec_item_score = []
Rec_item_rank = []

for business in trainset_raw_iids:
    # Rec section
    top_similarities = item_similarities_frame_raw[business].sort_values(ascending=False).to_frame()
    top_recs = top_similarities[top_similarities[business]>0.04].iloc[1:]
    rank = 1
    for ind in top_recs.index:
        bus_index = ratings.loc[ratings['business_id'] == business].index[0]
        Target_business_id.append(ratings.at[bus_index,'business_id'])
        Target_city.append(ratings.at[bus_index,'city'])
        business_id.append(ind)
        rec_index = ratings.loc[ratings['business_id'] == ind].index[0]
        name.append(ratings.at[rec_index,'name'])
        address.append(ratings.at[rec_index,'address'])
        city.append(ratings.at[rec_index,'city'])
        latitude.append(ratings.at[rec_index,'latitude'])
        longitude.append(ratings.at[rec_index,'longitude'])
        stars.append(ratings.at[rec_index,'stars_x'])
        Map.append("https://www.google.com/maps/search/?api=1&query="+str(ratings.at[rec_index,'latitude'])+','+str(ratings.at[rec_index,'longitude']))
        photo.append("../../yelp_dataset/photos/"+ind+".jpg")
        svd_pred = algo.predict(uid='',iid='ind')
        Rec_final_score.append('?')
        Rec_final_rank.append('?')
        Rec_user_score.append(svd_pred[3])
        Rec_user_rank.append(rank)
        rank += 1
        Rec_content_score.append('?')
        Rec_content_rank.append('?')

In [ ]:
zipped = list(zip(Target_business_id,Target_city,business_id,name,address,city,latitude,longitude,stars,Map,photo,Rec_final_score,Rec_final_rank,Rec_user_score,Rec_user_rank,Rec_content_score,Rec_content_rank))
df = pd.DataFrame(zipped, columns=['Target_business_id','Target_city','business_id','name','address','city','latitude','longitude','stars','Map','photo','Rec_final_score','Rec_final_rank','Rec_user_score','Rec_user_rank','Rec_content_score','Rec_content_score'])
df

In [57]:
# from pandas.io.json import json_normalize
import json
import pandas as pd


with open("user_based_final_4_14 - Copy.json", "r") as read_file:
    data2 = json.load(read_file)

print(type(data2))
svd_df_2 = pd.DataFrame(data2['data'])
svd_df_2.head()
print(svd_df_2.shape)

<class 'dict'>
(3805, 19)