In [3]:
# from pandas.io.json import json_normalize
import json
import pandas as pd


with open("user_based_final.json", "r") as read_file:
    data = json.load(read_file)

svd_df = pd.DataFrame(data['data'])

In [7]:
svd_df.head()

,index,Target_business_id,Target_city,business_id,name,address,city,latitude,longitude,stars,Map,photo,Rec_final_score,Rec_final_rank,Rec_user_score,Rec_user_rank,Rec_content_score
0,0,ym2GsJkdeGZqNn_Rf9UC3Q,Brentwood,SyAYFxPBjuaHajx9iE7wLQ,Saint Louis Galleria,1155 Saint Louis Galleria,Saint Louis,38.634959,-90.348097,3.5,https://www.google.com/maps/search/?api=1&quer...,http://tse4.mm.bing.net/th/id/OIP.8i3Vdzb52pEq...,?,?,3.921434,1,?
1,1,ym2GsJkdeGZqNn_Rf9UC3Q,Brentwood,bji0nOYNgVWMZkN6LqsEJA,Macy's,1550 Saint Louis Galleria,Richmond Heights,38.633849,-90.348257,3.0,https://www.google.com/maps/search/?api=1&quer...,http://tse1.mm.bing.net/th/id/OIP.sXkWxGf5Szab...,?,?,3.921434,2,?
2,2,E6Qs5dCetaqZqHOnqVZ2Ng,Philadelphia,aQ2-kEwDra31zu0NCLpUsQ,Buffalo Exchange,1520 Chestnut St,Philadelphia,39.951095,-75.166496,3.0,https://www.google.com/maps/search/?api=1&quer...,http://tse4.mm.bing.net/th/id/OIP.zcH6ADh4ZfWD...,?,?,3.921434,1,?
3,3,E6Qs5dCetaqZqHOnqVZ2Ng,Philadelphia,IWbAT_jOGwJuDE-BAZ1Riw,Chop Shop,513 South St,Philadelphia,39.942054,-75.151243,3.5,https://www.google.com/maps/search/?api=1&quer...,http://tse2.mm.bing.net/th/id/OIP.a7S6CfceeYr7...,?,?,3.921434,2,?
4,4,S7tZmvSqrpH18cDE_fwVgA,Philadelphia,HhaL0aFNFXsxitfL4E7upQ,Suburban Station,34 N 16th St,Philadelphia,39.953640,-75.166656,2.5,https://www.google.com/maps/search/?api=1&quer...,http://tse2.mm.bing.net/th/id/OIP.-Uju_SrjUyUp...,?,?,3.921434,1,?

In [12]:
svd_df.groupby(['Target_city','city']).agg({'name':'count'}).sort_values(by=['name'], ascending = False)[0:20]

                               name
Target_city    city
Philadelphia   Philadelphia     674
New Orleans    New Orleans      504
Reno           Reno             226
Tucson         Tucson           222
Tampa          Tampa            187
Indianapolis   Indianapolis     161
Nashville      Nashville        148
Saint Louis    Saint Louis      127
Edmonton       Edmonton          93
Reno           Sparks            39
Sparks         Reno              39
Philadelphia   Media             30
Kenner         New Orleans       28
Philadelphia   Doylestown        26
               Kennett Square    23
Kennett Square Philadelphia      23
Philadelphia   Glen Mills        19
Media          Philadelphia      19
Philadelphia   Aston             17
Aston          Philadelphia      16

In [4]:
non_food_reviews = pd.read_csv("../yelp_dataset/non_food_merged.csv")

In [5]:
non_food_reviews.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,...,BusinessParking,ByAppointmentOnly,review_id,user_id,stars_y,useful,funny,cool,text,date
0,0,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,"{'garage': False, 'street': False, 'validated'...",{},e_PZZ0m2sEG9UovGRxdZRQ,dT6O_rV9DWYS-zHXhA6S6w,4,3,2,2,This has become my go to place for shoes. I a...,2015-12-06 16:46:43
1,1,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,"{'garage': False, 'street': False, 'validated'...",{},WNv6UCHTmce7wgImLKP4sg,AAYvaNRQ0TD_2Lpo-wFOUA,4,3,2,1,"Oh, I do enjoy Famous Footwear. \n\nThe occasi...",2016-03-20 21:52:13
2,2,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,"{'garage': False, 'street': False, 'validated'...",{},VwoJCaULB5cRGnDiYGFYJA,V9fW3-fJ-sEMz_ewPpzXXg,1,2,0,0,Ordered shoes online it clearly says free retu...,2014-10-03 21:42:17
3,3,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,"{'garage': False, 'street': False, 'validated'...",{},crAIe0dciujX2sFvi7bSkA,iSgusF1eKu23mNG87zav4Q,1,0,0,0,Poor customer service will never be shopping a...,2018-08-13 15:40:01
4,4,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,...,"{'garage': False, 'street': False, 'validated'...",{},DRvrkDpdTOXK4j-Vx9qyDg,XfdP4UU3xMcdJbM3qUIaPA,5,0,0,0,Found a great deal on a pair of Nike running s...,2017-01-25 19:00:25

In [6]:
non_food_reviews.columns

Index(['Unnamed: 0', 'business_id', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_x', 'review_count',
       'is_open', 'attributes', 'categories', 'hours',
       'BusinessAcceptsCreditCards', 'WheelchairAccessible', 'BusinessParking',
       'ByAppointmentOnly', 'review_id', 'user_id', 'stars_y', 'useful',
       'funny', 'cool', 'text', 'date'],
      dtype='object')

In [8]:
non_food_reviews.categories[0]

'Sporting Goods, Fashion, Shoe Stores, Shopping, Sports Wear, Accessories'